<!-- <select id="ButtonsHomePage" [(ngModel)]="selectedLine" >
  <option *ngFor="let lin of linijeZaView">
    <a title="{{text}}">{{lin}}</a>
  </option>
</select>
<select id="ButtonsHomePage" [(ngModel)]="slectedStanica" >
    <option *ngFor="let s of staniceZaView">
      {{s}} 
    </option>
  </select>
    <button (click)="spoji()" >Spoji liniju sa stanicom! </button> -->


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Include the above in your HEAD tag -->

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div class="main">
  <div class="container">
    <div class="middle">
      <div id="login">
        <p class="paragraf_text">Linija:</p>
        <select id="ButtonsHomePage" [(ngModel)]="selectedLine">
          <option *ngFor="let lin of linijeZaView">
            <a title="{{text}}">{{lin}}</a>
          </option>
        </select>
        <p class="paragraf_text">Stanica:</p>
        <select id="ButtonsHomePage" [(ngModel)]="slectedStanica">
          <option *ngFor="let s of staniceZaView">
            {{s}}
          </option>
        </select><br>

        <br><button id="ButtonsHomePage" (click)="spoji()">Spoji liniju sa stanicom! </button>
        <br>
        <p class="paragraf_text">{{odgovor}}</p>

        <br>
        <br>


      </div>

      <div class="logo" style="position: absolute; right: -30%;"> JGSP

        <p><span class="fa "></span><a id="ButtonsHomePage" routerLink="/home">Home!</a></p>

      </div>
      <!--<app-karta></app-karta>-->
    </div>