<!-- <form [formGroup]="kontrolorGroup" (ngSubmit)="ProveriKartu()">
<input Placeholder="IdKorisnika" type="text" formControlName="IdKorisnika">
  <button (click)="ProveriKartu()" >Proveri kartu!</button>
</form>
  {{Odgovor}} -->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Include the above in your HEAD tag -->

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div class="main">
  <div class="container">
    <div class="middle">
      <div id="login">
          <p class="paragraf_text">Izaberi mejl korisnika:</p>
          <select id="ButtonsHomePage" [(ngModel)]="selectedMejl">
            <option *ngFor="let s of mejloviZaView">
              {{s}}
            </option>
          </select><br>
        <!-- <form [formGroup]="kontrolorGroup" (ngSubmit)="ProveriKartu()">

          <fieldset class="clearfix">
            <p class="paragraf_text">Unesite Username korisnika:</p>
            <br>
            <p><span class="b"></span><input Placeholder="Username" type="text" formControlName="IdKorisnika"></p><br>



          </fieldset>
          <div class="clearfix"></div>
        </form> -->
        <div>
          <br>
          <span style="width:50%; text-align:right;  display: inline-block;"><button id="ButtonsHomePage"
              (click)="ProveriKartu()">Proveri kartu!</button></span>

        </div>
        <br>
        <p class="paragraf_text">{{Odgovor}}</p>

        <br>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
      <div class="logo"> JGSP
        <div class="clearfix"></div>
        <p><span class="fa "></span><a id="ButtonsHomePage" routerLink="/home">Home!</a></p>
      </div>
    </div>
  </div>
  <!--<app-karta></app-karta>-->
</div>