<div class="main">
  <div class="container">
    <div class="middle">
      <div id="login">
        <form [formGroup]="redGroup" (ngSubmit)="DodajRedVoznje()">
          <p class="paragraf_text">Linija:</p>
          <select id="ButtonsHomePage" [(ngModel)]="linija" formControlName="linija">
            <option *ngFor="let lin of linijeZaView">
              <a title="{{text}}">{{lin}}</a>
            </option>
          </select>
          <br>

          Dan:<br>
          <select id="ButtonsHomePage" [(ngModel)]="dan" formControlName="dan">
            <option *ngFor="let d of dani">
              {{d}}
            </option>
          </select>
          <br>
          <br><input Placeholder="Red voznje(vreme)" type="text" formControlName="red"> <br>
        </form>
        <br><button id="ButtonsHomePage" (click)="DodajRedVoznje()">Dodaj red voznje </button>
        <br>

      </div>
      <div class="logo"> JGSP
        <div class="clearfix"></div>
        <p><span class="fa "></span><a id="ButtonsHomePage" routerLink="/home">Home!</a></p>
      </div>
    </div>
  </div>
</div>